

h1 {
  color: black;
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 20px;
}

table {
  font-size: 20px;
}

.kiwi-header {
  background-image: linear-gradient(to right, #1900ff, #008cff);
  padding: 30px 0;
  color: #fff;
  text-shadow: 1px 1px #333;
} 

.h22 {
  color: #fff;
  text-align: center;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
  color: #000  !important;
}

nav {

  background-color: #000000 !important;
}

.navbar {
  background-color: #000000;
}

nav a{

  background-color:whitesmoke;
  padding:15px;
  color:black;
  margin:10px;
  text-decoration:none;
  border-radius:10px;
  display:inline-block;
  transition-duration:200ms;
  
  }
  
  
